[
  {bloberl,[
    {port, 31090},
    {packet_type, binary},
    {packet_read_type, line},
    {tcp_client_timeout, 5000},
    {max_records_per_table, 50000},
    {max_memory_per_table, 10000000},
    {upload_retry_count, 3},
    {upload_retry_delay, 20},
    {upload_max_retry_delay, 100},
    {shipping_interval, 60000}
  ]},
  {erlcloud, [
      {aws_config, [
          {retry, fun erlcloud_retry:default_retry/1}
      ]}
  ]},
 {kernel, [
  {logger_level, notice},
  {logger, [
    {handler, default, logger_std_h,
      #{level => notice,
        formatter => {logger_formatter, 
                        #{single_line => true,
                          time_offset => "Z",
                           template => [time, " [", level, "] ", pid, "@", mfa, ":", line, " - ", msg,"\n"]
                        }
                      }
        }}
  ]}
]}
].